<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html;charset=iso-8859-1" />
<meta http-equiv="Content-Style-Type" content="text/css" />

<title>
Free Website Templates
</title>

<link rel="stylesheet" href="style.css" type="text/css" media="screen" />

</head>

<body>

<div id="container-border1">
<div id="container-border2">
<div id="container">

	<!-- Start Left Page of Book -->

	<div id="leftpage">

		<div id="page_header">
			<h1><span>My Writings</span></h1>
		</div>

		<div id="page_header_links">
			<ul>
			<li><a href="pictures.html">Picture Gallery</a></li>
			<li class="last"><a href="blog.html">Special Column</a></li>
			</ul>

			<div class="clearthis">&nbsp;</div>
		</div>

		<div id="page_header_content">

			<!-- Start Page Menu -->

			<div id="page_menu">
				<ul>
				<li><a href="BMPindex.html">Home</a></li>
				<li><a href="about.html">About</a></li>
				<li><a href="news.html">News</a></li>
				<li class="last"><a href="mailto:info@bluemoosefilms.com?subject=More Info about Blue Moose Press">Contact</a></li>
				</ul>
			</div>

			<!-- //End Page Menu -->

			<div id="page_image">&nbsp;</div>

			<div class="clearthis">&nbsp;</div>
		</div>


		<!-- Start Welcome/Introduction Text -->

		<div id="page_body_left">

			<h2>Welcome to our World</h2>

<p>
Blue Moose Press was created out of the desire to give talented authors and independent alternative to self-publishing and the mounting pile of rejection letters from corporate publishers. 
</p>

<p>
Authors have been findign it increasingly difficult to even geth their work read by conventional publishers.  Most publishers won't look at an unpublished author without a solicitation from an agent.  Fewer and fewer are taking on unpublished authors at all, even with representation.
</p>

<p>
We are dedicated to giving talented authors a voice and a chance despite their previously published history or status of representation.  Outlets for books have increased over the last decade, and so has the audience who reads.  We give the public what they want: fresh talent. 
</p>

			<!--div class="nextpage">
			<a href="http://www.freewebsitetemplates.com">View the next pages</a>
			</div-->

		</div>

		<!-- //End Welcome/Introduction Text -->

	</div>

	<!-- //End Left Page of Book -->

	<div id="pagediv">&nbsp;</div>

	<!-- Start Right Page of Book -->

	<div id="rightpage">

		<div id="page_body_right">


			<!-- Start Latest Works -->

			<div id="latestwork">
				<div id="latestwork_header">
				<h2><span>Latest Works</span></h2>
				</div>

				<div class="latest_book_details">

					<div class="book_cover"><img src="images/_book01.jpg" align="left" alt="Book Title" /></div>

<p>
Our premiere young adult fantasy novel, <I>Rowan of the Wood</I>, will be released October 1, 2007. Please visit the official <A HREF="http://www.rowanofthewood.com">website</A> for more information on this exciting story. For a limited time, the entire novel is available for preview in a <A HREF="http://www.bluemoosefilms.com/RowanWood-Ebook.pdf">pdf file</A>.
</p>
<P>ISBN: 978-1-60461-233-2

					<div class="clearthis">&nbsp;</div>
				</div>


				<!--div class="latest_book_details">

					<div class="book_cover"><img src="images/_book02.jpg" width="61" height="86" alt="Book Title" /></div>

<p>
This is a demo text. It will be replaced by the original. This is a demo text. It will be replaced by the original. This is a demo text. It will be replaced by the original. This is a demo text. It will be replaced by the original. This is a demo text. It will be replaced by the original.
</p>

					<div class="clearthis">&nbsp;</div>
				</div-->

			</div>

			<!-- //End Latest Works -->


			<!-- Start Gray Boxes -->

			<div id="gray_boxes">


				<!-- Start Recent Topics -->

				<div id="gray_recent_topics">
					<h3>Recent News</h3>

<p>
Blue Moose Press will publish its first novel in conjunction with Steven Sevile, formerly of Nyx Books in the UK.  The author/publisher agrees with our mission to help talented authors publish their works.   
<P><I>Rowan of the Wood</I>, their premiere novel, is set for an early October release. The authors, Christine & Ethan Rose, will begin their nation- wide promotional tour in their hometown Austin, Texas.
</p>

					<div class="link-more">
					<a href="news.html">...Read More</a>
					</div>

				</div>

				<!-- //End Recent Topics -->


				<!-- Start Chat with Me -->

				<div id="gray_live_chat">
					<h3><span>Sign Up for our Newsletter</span></h3>

<p>
Click "sign me up!" access to our newsletter.  You will receive no more than one email a week from us with news, articles, press and availablity info for our books and films.
</p>

					<div class="link-more">
					<a href="mailto:info@bluemoosefilms.com?subject=Sign Me Up for Newsletter!">...Sign me up!</a>
					</div>

				</div>

				<!-- //End Chat with Me -->


				<!-- Start My Diary -->

				<div id="gray_my_diary">
					<h3>Our Blog</h3>

<p>
MySpace is changing to keep out the little guy. Going corporate has certainly changed the face of MySpace...
</p>

					<div class="link-more">
					<a href="blog.html">...Read More</a>
					</div>

				</div>

				<!-- //End My Diary -->


				<div class="clearthis">&nbsp;</div>
			</div>

			<!-- //End Gray Boxes -->

		</div>

	</div>

	<!-- //End Right Page of Book -->


	<div class="clearthis">&nbsp;</div>

</div>
</div>
</div>

<!-- Start Page Footer -->
<div id="page_footer">
Copyright &copy; 2007, Blue Moose Press, a subsidiary of <A HREF="http://www.bluemoosefilms.com">Blue Moose Films, LLC</A>
</div>
<BR>
<!-- Do not remove read http://www.freewebsitetemplates.com/termsofuse/ -->
<div id="page_footer">
Powered by <a href="http://www.freewebsitetemplates.com">Free Website Templates</a>
</div>

<!-- //End Page Footer -->


</body>
</html>