<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<!--////////////////////////////////////////// 
      L O S T     I N    F O R R E S T	
       by Empire Elements
      www.empire-elements.co.uk
    //////////////////////////////////////////  -->
   
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1250" />
<title>Lost in Forrest</title>
<link href="global.css" rel="stylesheet" type="text/css" />
</head>

<body>

<div id="Container">

<div id="Top">

<div id="MenuHold">
  <a href="#" title="Menu">Menu</a>
  <a href="#" title="My blog">My blog</a>
  <a href="#" title="My gallery">My gallery</a>
  <a href="#" title="My projects">My projects</a>
  <a href="#" title="My friends">My friends</a></div>

<h1>Lost in Forrest<sup>1.0</sup></h1>
<h2>and alone</h2>
<p>www.empire-elements.co.uk</p>  
  </div>

<div id="MainText">
<div id="Left">
  <h3>Lorem ipsum dolor sit amet</h3>
  <div id="LeftBG">
  <p><em>Lorem ipsum dolor sit amet, consectetuer
    adipiscing elit. Etiam sem sapien, posuere vel, </em></p>
  <p>mollis id, porta ut, ipsum. Suspendisse facilisis euismod odio. Nulla <a href="#">eu libero at</a> libero ornare molestie. Aenean quis pede. Fusce nonummy, metus nec sodales tempus, sem tortor pharetra nibh, a bibendum erat odio in justo. </p>
  <p>Donec ut velit. Ut ac mauris id neque ultrices varius. Donec eget lacus tempor <a href="#">lorem lobortis vehicula</a>. Vivamus vel velit. Maecenas ut turpis. Quisque tempus consectetuer neque.</p>
  <p>Lorem <a href="#">ipsum dolor</a> sit amet, consectetuer <br />
    adipiscing elit. Etiam sem sapien, posuere vel, </p></div>
</div>

<div id="Right">
  <h3>Lorem ipsum</h3>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam sem sapien, posuere vel, mollis id, porta ut, ipsum. Suspendisse facilisis euismod odio. Nulla eu libero at libero ornare molestie. Aenean quis pede. Fusce nonummy, metus nec sodales tempus, sem tortor <a href="#">pharetra nibh</a>, a bibendum erat <a href="#">odio in justo</a>. Donec ut velit. Ut ac mauris id neque ultrices varius. Donec eget lacus tempor lorem lobortis vehicula. Vivamus vel velit. Maecenas ut turpis. Quisque tempus consectetuer neque.</p>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam sem sapien, <a href="#">posuere vel, mollis</a> id, porta ut, ipsum. Suspendisse facilisis euismod odio. Nulla eu libero at libero ornare molestie. Aenean quis pede. Fusce nonummy, metus nec sodales tempus, sem tortor pharetra nibh, a bibendum erat odio in justo. Donec ut velit. Ut ac <a href="#">mauris id</a> neque ultrices varius. Donec eget lacus tempor lorem lobortis vehicula. Vivamus vel velit. Maecenas ut turpis. Quisque tempus consectetuer neque.</p>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam sem sapien, posuere vel, mollis id, porta ut, ipsum. Suspendisse facilisis euismod odio. Nulla eu libero at libero ornare molestie. Aenean quis pede. Fusce nonummy, metus nec sodales tempus, sem tortor pharetra nibh, a bibendum erat odio in justo. Donec ut velit. Ut ac mauris id neque ultrices varius. Donec eget lacus tempor lorem lobortis vehicula. Vivamus vel velit. Maecenas ut turpis. Quisque tempus consectetuer neque.</p></div>
</div>
<div id="OneField"><img src="tree2.jpg" alt="" width="256" height="132" class="img"/>
  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam sem sapien, posuere vel, mollis id, porta ut, ipsum. Suspendisse facilisis euismod odio. Nulla eu libero at libero ornare molestie. Aenean quis pede. Fusce nonummy, metus nec sodales tempus, sem tortor pharetra nibh, a bibendum erat odio in justo. Donec ut velit. Ut ac mauris id neque ultrices varius. Donec eget lacus tempor lorem lobortis vehicula. Vivamus vel velit. Maecenas ut turpis. Quisque tempus consectetuer neque.</p>
  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam sem sapien, posuere vel, mollis id, porta ut, ipsum. Suspendisse facilisis euismod odio. Nulla eu libero at libero ornare molestie. Aenean quis pede. Fusce nonummy, metus nec sodales tempus, sem tortor pharetra nibh, a bibendum erat odio in justo. Donec ut velit. Ut ac mauris id neque ultrices varius. Donec eget lacus tempor lorem lobortis vehicula. Vivamus vel velit. Maecenas ut turpis. Quisque tempus consectetuer neque.</p>
</div>

<div id="Gallery">
<ul>
   <li>
   <h2>Moon Image</h2>
   <a href="#" title="Moon Image"><img src="moon.jpg" alt="Moon Image" /></a>
   </li>
          
   <li>
   <h2>Moon Image</h2>
   <a href="#" title="Moon Image"><img src="moon.jpg" alt="Moon Image" /></a>
   </li>

   <li>
   <h2>Moon Image</h2>
   <a href="#" title="Moon Image"><img src="moon.jpg" alt="Moon Image" /></a>
   </li>

   <li>
   <h2>Moon Image</h2>
   <a href="#" title="Moon Image"><img src="moon.jpg" alt="Moon Image" /></a>
   </li>
</ul>
</div>

<div id="Footer">
  <p>Design by <a href="http://www.empire-elements.co.uk/" title="Design by Empire Elements">Empire Elements</a><br />
    This design is contributed to www.openwebdesign.org and its' growing comunity. Feel free to modify this design any way you wish. If you like our design please link back to us. If you need any help, just drop us email <a href="mailto:lostinforrest@empire-elements.co.uk">lostinforrest@empire-elements.co.uk</a> <br />
    <a href="#">Home</a> | <a href="#">My Blog</a> | <a href="#">My Gallery</a> | <a href="#">My Projects</a> | <a href="#">My Friends</a> <br />
  <!--This theme is free for distriubtion,  so long as  link to openwebdesing.org and dubaiapartments.biz  stay on the theme--> Courtesy <a href="http://www.openwebdesign.org" target="_blank">Open
Web Design</a><a href="http://www.dubaiapartments.biz" target="_blank"><img src="spacer.gif" width="5" height="5" border="0"/></a>Thanks
to <a href="http://www.dubaiapartments.biz/" target="_blank">Dubai Hotels</a></p>
</div>


</div>
</body>
</html>
