<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>PostIt by DESIGNVT</title>
<link href="style.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
a:link {
	color: #000000;
	text-decoration: underline;
}
a:visited {
	text-decoration: underline;
	color: #000000;
}
a:hover {
	text-decoration: none;
	color: #990000;
}
a:active {
	text-decoration: underline;
}
body,td,th {
	color: #444;
}
-->
</style></head>

<body>
<div class="clearfix" id="container">
  <div id="header">post<span class="subhead">it<br />
  </span><span class="solgan">this is your fancy slogan text </span></div>
  <div id="contentcontainer">
    <div id="sidebar">
      <div id="nav"><h1>Sidebar</h1>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
	  </div>
      <h2>Recent News </h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <a href="#">read more &raquo;</a></p>
    </div>
    <div id="contentmain">
      <h1>Heading 1 </h1>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cras et tortor. Vivamus imperdiet libero eget arcu. Etiam at urna. Nunc lobortis dictum lacus. <a href="#">This is a Link</a>. Phasellus neque tortor, lobortis vel, porta sed, tempor feugiat, mi. </p>
      <p>Postit picture found  on <a href="http://www.sxc.hu/" target="_blank">www.sxc.hu</a></p>
      <h2>Heading 2 </h2>
      <ul>
        <li><a href="#">Unordered List 1 </a></li>
        <li><a href="#">Unordered List 2 </a></li>
        <li><a href="#">Unordered List 3</a></li>
      </ul>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
    </div>
  </div>
</div>
<div id="footer">Your Name &copy; 2007 <br />
  <!--This theme is free for distriubtion,  so long as  link to openwebdesing.org and dubaiapartments.biz  stay on the theme--> Courtesy <a href="http://www.openwebdesign.org" target="_blank">Open
Web Design</a><a href="http://www.dubaiapartments.biz" target="_blank"><img src="spacer.gif" width="5" height="5" border="0"/></a>Thanks
to <a href="http://www.dubaiapartments.biz/" target="_blank">Dubai Hotels</a><br />
Site Design by <a href="http://www.designvt.com" target="_blank">DESIGNVT.com </a></div>
</body>
</html>
