<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>FREE TWO COLUMN CSS TEMPLATE</title>
<link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>

   <!-- Begin Wrapper -->
   <div id="wrapper">
   
         <!-- Begin Header -->
         <div id="header">
		 
                <div class="logo">
		<h1 id="lineone">CompanyName<span>Dot</span>Com </h1> 
		<h2 id="linetwo">lorem ipsum dolor sit amet</h2>
                </div>
	 
			   
		 </div>
		 <!-- End Header -->
		 
		 <!-- Begin Navigation -->
         <div id="navigation">
		 
	<div class="menu">

	        <ul>
			<li><a href="http://www.businesswebsitetemplates.blogspot.com" title="free business templates"> Business Templates</a></li>
			<li><a href="#" title="#">Link Two</a></li>
			<li><a href="#" title="#">Link Three</a></li>
                        <li><a href="#" title="#">Link Four</a></li>
                        <li><a href="#" title="#">Link Five</a></li>
		</ul>
	</div>
	 
			   
		 </div>
		 <!-- End Navigation -->
		 
		 <!-- Begin Left Column -->
		 <div id="leftcolumn">
		 
			<div id="leftbox">
                        
                        <div class="col-l">
	        <ul>
			<li><a href="http://www.businesswebsitetemplates.blogspot.com" title="free business templates"> Business Templates</a></li>
			<li><a href="http://moneyearnersonline.blogspot.com" title="earn money online">Make Money Online</a></li>
			<li><a href="#" title="#">Lorem Ipsum Dolor</a></li>
                        <li><a href="#" title="#">More Links</a></li>
                        <li><a href="#" title="#">Link Five</a></li>
		</ul>
                        </div>
                        </div>
                        <div id="leftboxbottom"></div>
            
                             <br/>

			<div id="leftbox-2">
                        
                        <div class="col-l">
	                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec rutrum neque eu nisl. Morbi eget felis. Vestibulum feugiat lectus ut magna. Ut interdum <a href="#">ipsum nec metus</a>. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Ut eget augue .</p>
                        </div>
                        </div>
                        <div id="leftboxbottom-2"></div>
		 
		 </div>
		 <!-- End Left Column -->
		 
		 <!-- Begin Right Column -->
		 <div id="rightcolumn">
                 <blockquote><p><em>This is an open source template and is relased and distributed under Creative Commons 2.5 licence. You are free to use this template in any way you like. All I ask for is that you leave the web site design credit links in the footer of this template intact. Thank you for downloading.</em></p></blockquote>
		       
                 <div id="doublebox">

                 <div class="content_left">
                 <h3>Lorem Ipsum</h3>

                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut 
laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis.</p>
                 <a href="#">read more</a>
                 <div class="content_leftbot"></div>

                 </div>
                

                 <div class="content_right">

                 <h3>Lorem Ipsum</h3>

                 <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut 
laoreet dolore.</p>
                 <a href="#">read more</a>
                 <div class="content_rightbot"></div>
                 </div>
                 </div>



                <h4>Lorem Ipsum</h4>	 
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec rutrum neque eu nisl. Morbi eget felis. Vestibulum feugiat lectus ut magna. Ut interdum ipsum nec metus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia. </p>

                 <div class="clear"></div>

		<div id="triplebox">
			<div class="col">
                <img src="images/globe-s.gif" class="floatTL" alt="business" />
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
			</div>
			
			<div class="col">

                <img src="images/globe-s.gif" class="floatTL" alt="business" />
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
			</div>

			<div class="col">

                <img src="images/globe-s.gif" class="floatTL" alt="business" />
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. </p>
			</div>
		
                 </div>
                 <div class="clear"></div>
		<div id="tripleboxbottom"></div>
		 
		 </div>

		 <!-- End Right Column -->
		 
		 <!-- Begin Footer -->
 <div id="footer">
	<p id="links"><a href="http://validator.w3.org/">Valid XHTML</a> | <a href="http://validator.w3.org/">Valid CSS</a></p>
	<p id="legal">Copyright &copy; 2007  by Free CSS Templates  Designed by <a href="http://www.businesswebsitetemplates.blogspot.com">FEEE CSS TEMPLATES</a>.</p>
</div>
		 <!-- End Footer -->
		 
   </div>
   <!-- End Wrapper -->
   
</body>
</html>
